$button-accent: #DB4A69;

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.is-danger{
    background-color: $button-accent;
}

.auth-buttons{

    grid-area: 1 / 1 / 2 / 3;
    margin-left: auto;

    .button{
        margin: 15px;
    }

}
.content{
    grid-area: 2 / 1 / 10 / 2;

    justify-self: center;
    margin: 30px;

    .landing-title{
       color: #353A85;
       text-transform: uppercase;
       margin: 40px 0px 60px 0px;
       span{
            font-weight: 800
       }
       
    }

    .landing-subtitle{
        margin: 40px 0px 60px 0px;
    }

    .call-to-action{
        margin: 100px 0px 60px 0px;
        height: 100px;
        width: 400px;
        font-size: 2em;
        font-weight: 500;
        border-radius: 15px;
    }

}
.landing-img-container{
    .landing-image{
        margin-top: 60px;
    }
     
}





