<div class="container level">
    <div class="info-container level-item">

    </div>
    <div class="list-hours level-item">
            <table class="table is-hoverable is-striped">
                    <thead>
                      <tr>
                        <th><abbr title="id">ID</abbr></th>
                        <th><abbr title="timer started at">START</abbr></th>
                        <th><abbr title="timer stoped at">STOP</abbr></th>
                        <th><abbr title="total time">TOTAL</abbr></th>
                        <th><abbr title="earnings">EARNED</abbr></th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>2019-2-3 18:00</td>
                        <td>2019-2-3 18:00</td>
                        <td>5</td>
                        <td>1000 RSD</td>
                        </tr>
                      <tr>
                    <tr>
                        <th>1</th>
                        <td>2019-2-3 18:00</td>
                        <td>2019-2-3 18:00</td>
                        <td>5</td>
                        <td>1000 RSD</td>
                        </tr>
                      <tr>
                          <tr>
                        <th>1</th>
                        <td>2019-2-3 18:00</td>
                        <td>2019-2-3 18:00</td>
                        <td>5</td>
                        <td>1000 RSD</td>
                        </tr>
                      <tr>
                          <tr>
                        <th>1</th>
                        <td>2019-2-3 18:00</td>
                        <td>2019-2-3 18:00</td>
                        <td>5</td>
                        <td>1000 RSD</td>
                        </tr>
                      <tr>
                      
                    </tbody>
                  </table>
    </div>
</div>
