$button-accent: #DB4A69;
$button-primary: #353A85;

// table
$table-head-background-color: $button-primary;
$table-head-cell-color: white;
$table-row-hover-background-color: rgba(53, 58, 133, 0.219);
